<!doctype html>
<html lang="vi" class="no-js">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.4.js">
    </script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
    </script>
    <!-- Google Tag Manager oRo -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        }
        )(window, document, 'script', 'dataLayer', 'GTM-KGMBMFG');
    </script>
    <!-- End Google Tag Manager oRo -->
    <!-- Facebook Pixel Code (new) -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)
                return;
            n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }
                ;
            if (!f._fbq)
                f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '576957396163726');
        fbq('track', 'PageView');
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="facebook-domain-verification" content="oku5uc1u94mc572bqwyijvpte6rnnt" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha384-ZwVa1S/NX6dEzJaHv2OILVrnj7ERqTH6pd/ubsDTHTrgAEz2kUufO/KLo6frtnOB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css" integrity="sha384-zgeBTQFrgFlfbkIvYYXfMlTh2T2Irl05Ne3hMa9yrQO02yp/zTT/PMtwFc5wrVot" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Mall.css" />

    <link rel="stylesheet" href="https://www.aeon.com.vn/wp-content/themes/aeon/css/custom.css?v=02072023">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <link rel="alternate" href="https://www.aeon.com.vn/" hreflang="vi" />
    <link rel="alternate" href="https://www.aeon.com.vn/en/" hreflang="en" />
    <!-- This site is optimized with the Yoast SEO Premium plugin v17.7 (Yoast SEO v17.7) - https://yoast.com/wordpress/plugins/seo/ -->
    <title>SalePhone</title>
    <link rel="canonical" href="https://www.aeon.com.vn/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:url" content="https://www.aeon.com.vn/" />
    <meta property="og:site_name" content="AEON Việt Nam" />
    <meta property="article:modified_time" content="2023-06-30T10:03:56+00:00" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- / Yoast SEO Premium plugin. -->
    <link rel='dns-prefetch' href='//www.aeon.com.vn' />
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/www.aeon.com.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"
            }
        };
        !function (e, a, t) {
            var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d");
            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height),
                    p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height),
                    p.fillText(a.apply(this, t), 0, 0),
                    e === i.toDataURL()
            }
            function c(e) {
                var t = a.createElement("script");
                t.src = e,
                    t.defer = t.type = "text/javascript",
                    a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"),
                t.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                },
                r = 0; r < o.length; r++)
                t.supports[o[r]] = function (e) {
                    if (!p || !p.fillText)
                        return !1;
                    switch (p.textBaseline = "top",
                    p.font = "600 32px Arial",
                    e) {
                        case "flag":
                            return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                        case "emoji":
                            return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
                    }
                    return !1
                }(o[r]),
                    t.supports.everything = t.supports.everything && t.supports[o[r]],
                    "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag,
                t.DOMReady = !1,
                t.readyCallback = function () {
                    t.DOMReady = !0
                }
                ,
                t.supports.everything || (n = function () {
                    t.readyCallback()
                }
                    ,
                    a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1),
                        e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n),
                            a.attachEvent("onreadystatechange", function () {
                                "complete" === a.readyState && t.readyCallback()
                            })),
                    (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji),
                        c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="chrome-webstore-item icon" type="jpg" href="~/favicon.ico" />
    <link rel='stylesheet' id='wp-block-library-css' href='https://www.aeon.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://www.aeon.com.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-dflip-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/dflip.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-themify-icons-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/themify-icons.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-style-addition-ver2-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/main-addition-ver2.css?ver=20200826' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/themes/aeon/js/dflip.min.js?ver=5.8.2' id='aeon-dflip-js'></script>

    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/themes/aeon/js/vendor/pdf.min.js?ver=5.8.2' id='aeon-pdf-js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js?ver=20200320' id='aeon-owl-carousel-min-js'></script>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-150x150.png" sizes="32x32" />
    <link rel="icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" />
    <meta name="msapplication-TileImage" content="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" />
    <style type="text/css" id="wp-custom-css">
        .page-template-page-faq #main-content > .container {
            min-height: 100vh;
        }

        .box-hotline__content a:hover, .box-hotline__content a:visited {
            color: #fff;
            text-decoration: none;
        }

        .box-hotline__content a:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .box-hotline {
            position: relative;
        }

        .page-template-page-preferential .content ol, .page-template-page-preferential .content ol > li {
            list-style: decimal;
        }

            .page-template-page-preferential .content ol > li + li {
                margin-top: 30px;
            }

        .page-template-page-preferential .content ul, .page-template-page-preferential .content ul > li {
            list-style: circle;
        }

        .page-template-page-preferential .content ul {
            padding-left: 30px;
        }
    </style>
    <style>
        .scroll-to-top-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s;
        }

            .scroll-to-top-btn.show {
                opacity: 1;
                visibility: visible;
            }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) oRo -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGMBMFG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) oRo -->
    <header class="header">

        <nav class="header-nav">
            <div class="container">
                <div class="header-nav__inner">
                    <a class="header-logo" href="~/SanPham/Index">
                        <img src="~/Images/tgdd.png" alt="Mall logo" />
                    </a>
                   
                    <nav class="navigation header-menu">
                        <ul id="menu-main-menu-vn" class="nav navigation-bar">

                            <li id="menu-item-3567" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3567  has-sub-menu">
                                <a href="#">
                                    Trang Chủ <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-3567" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>
                            <li id="menu-item-1606" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1606  has-full-sub-menu has-sub-menu">
                                <a href="#">
                                    Giới thiệu <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1606" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>

                            </li>
                            <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                                <a href="#">
                                    Công Nghệ 24h <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>

                            </li>
                            <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                                <a href="#">
                                    Feedback <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>

                            </li>
                            <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                                <a href="#">
                                    Sự kiện  <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>

                            </li>        
                            <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                                <a href="~/NguoiDung/DangNhap">
                                    Đăng Nhập <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>

                            </li>
                            <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                                <a href="~/NguoiDung/DangKy">
                                    Đăng Ký <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>
                            </li>
                            <li id="menu-item-4972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4972  has-sub-menu">
                                <a href="#">
                                    Xin Chào <img src="~/Images/down.png" alt="" width="10" height="10" style="border-radius: 2px; margin-bottom: 3px;"><i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-4972" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>
                                <ul / class="sub-menu" id="sub-menu-4972" />
                            <li id="menu-item-12597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12597 ">
                                <a href="@Url.Action("HienThiGioHang","GioHang")">Đơn hàng của bạn</a>
                            </li>
                            <li id="menu-item-12811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12810 ">
                                <a href="~/NguoiDung/DangXuat">Đăng Xuất</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <div class="sticky" style="opacity: 1; z-index: 11;">
        <!-- <a class="sticky-app" href="/ung-dung-di-dong-aeon-vietnam/"><img src="#" alt=""></a> -->
        <div class="btn-app">
            <img src="#" alt="">
        </div>
        <a class="sticky-shop" href="#">
            <img src="#" alt="">
        </a>
        <!-- popup -->
        <div class="popup-app" style="display: none">
            <p>Bấm vào Google Play hoặc App Store hoặc quét mã QR để tải ứng dụng</p>
            <div class="pa-close">
                <span>&times;</span>
            </div>
            <div class="pupup-app__inner">
                <div class="pa-item">
                    <div class="pa-link">   
                        <a href="" target="_blank">App Store</a>
                    </div>
                    <div class="pa-link">
                        <a href="" target="_blank">Google Play</a>
                    </div>
                </div>
                <div class="pa-item">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top-btn" title="Lên đầu trang">↑</button>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var closeButton = document.querySelector(".close--modal");
            closeButton.addEventListener("click", function () {
                var modal = document.querySelector("#modal-index");
                modal.style.display = "none";
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            var scrollToTopBtn = document.querySelector("#scrollToTopBtn");

            // Hiển thị hoặc ẩn nút khi cuộn trang
            window.addEventListener("scroll", function () {
                if (window.pageYOffset > 100) {
                    scrollToTopBtn.classList.add("show");
                } else {
                    scrollToTopBtn.classList.remove("show");
                }
            });

            // Chuyển về đầu trang khi nhấp vào nút
            scrollToTopBtn.addEventListener("click", function () {
                scrollToTop(1000); // Gọi hàm scrollToTop với giá trị thời gian 1000ms (1 giây)
            });
        });

        // Hàm để cuộn mượt lên đầu trang với thời gian chỉ định
        function scrollToTop(scrollDuration) {
            var scrollStep = -window.scrollY / (scrollDuration / 15),
                scrollInterval = setInterval(function () {
                    if (window.scrollY !== 0) {
                        window.scrollBy(0, scrollStep);
                    } else clearInterval(scrollInterval);
                }, 15);
        }
    </script>
    <main class="main">
        <div class="container-agoda">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="width:1200px; height:300px;" src="~/Images/bg1.jpg" alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                        <img style="width:1200px; height: 300px;" src="~/Images/bg2.jpg" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                        <img style="width:1200px; height: 300px;" src="~/Images/bg3.jpg" alt="New York">
                    </div>
                    <div class="carousel-item">
                        <img style="width:1200px; height: 300px;" src="~/Images/bg4.jpg" alt="Chicago">
                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="promotion">
            <div class="promotion-block">
                <div class="title-tag">
                    <span style="border-style: solid; border-width: 5px;">DANH MỤC ĐIỆN THOẠI</span>
                </div>
                <div class="promotion-block__inner">
                    <div class="container">
                        <div class="promotion-inner">
                            <div class="chudekhachsan">
                                @Html.Action("LayDanhMuc", "SanPham")
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()




            </div>

        </div>
        <script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" integrity="sha384-3gT/vsepWkfz/ff7PpWNUeMzeWoH3cDhm/A8jM7ouoAK0/fP/9bcHHR5kHq2nf+e" crossorigin="anonymous"></script>
        <!--
     <div class="contact" id="contact_info">
        <div class="container">
            <div class="contact-inner">
                <div class="contact-row">
                    <div class="contact-info">
                        <div class="contact-info__item">
                            <div class="contact-info__title">Văn phòng chính</div>
                            <div class="contact-info__address contact-info__icon sp-appear">Số 30 đường Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú, Tp.Hồ Chí Minh.</div>
                            <div class="contact-info__time contact-info__icon">(Thứ 2 - Thứ 6 – 8:30 - 17:30)</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:(028) 6288 7711">(028) 6288 7711                            </a>
                            </div>
                            <div class="contact-info__fax contact-info__icon">
                                <a href="tel:(028) 6269 2012">(028) 6269 2012                            </a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:contact@aeon.com.vn">contact@aeon.com.vn                            </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Phòng truyền thông &amp;đối ngoại</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:(033) 217 9797">(033) 217 9797                            </a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:phongtruyenthong@aeon.com.vn">phongtruyenthong@aeon.com.vn                            </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Phòng chăm sóc khách hàng</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:1800888886">1800.888.886</a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:contact@aeon.com.vn">contact@aeon.com.vn                            </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Hotline mua hàng</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:1800888699">1800.888.699</a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Liên hệ quảng cáo</div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:booking.media@aeon.com.vn">booking.media@aeon.com.vn</a>
                            </div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:02862887711">028 6288 7711</a>
                                - Ext: 730

                            </div>
                        </div>
                        <div class="contact-recruit__btn">
                            <a class="btn btn-main" href="/wp-content/uploads/2022/09/avn-media-package-092022.pdf" target="_blank">
                                <span class="btn-txt" style="font-size: 14px;text-transform: inherit;">Hồ sơ năng lực của chúng tôi</span>
                            </a>
                            <style>
                                #contact_info .contact-recruit__btn .btn {
                                    border: 1px solid #B31E8D;
                                }
                            </style>
                        </div>
                    </div>
                    <style>
                        #contact_info .contact {
                            margin: 0;
                        }

                            #contact_info.contact .container {
                                padding: 0;
                            }

                        #contact_info .contact-inner {
                            padding: 5rem 7rem;
                        }



                        #contact_info .contact-info {
                            padding-right: 4rem;
                        }

                        #contact_info .form-group {
                            margin-bottom: 20px
                        }

                        #contact_info h2.contact-share {
                            font-size: 23px;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }

                        #contact_info .btn {
                            display: inline-block;
                            margin-bottom: 0;
                            font-weight: 400;
                            text-align: center;
                            vertical-align: middle;
                            -ms-touch-action: manipulation;
                            touch-action: manipulation;
                            cursor: pointer;
                            background-image: none;
                            border: 1px solid transparent;
                            white-space: nowrap;
                            padding: 6px 12px;
                            font-size: 14px;
                            line-height: 1.428571429;
                            border-radius: 4px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }

                        #contact_info .mt-8 {
                            margin-top: 8px;
                        }

                        #contact_info .btn-w {
                            width: 170px;
                        }

                        #contact_info .btn-primary {
                            height: 50px;
                            cursor: pointer;
                            border-radius: 50px;
                            background-color: #b41f8e;
                            color: #fff;
                            border: 2px solid #b41f8e;
                            width: 260px;
                            max-width: 100%;
                            text-decoration: none;
                            transition: all .3s ease;
                            font-size: 15px;
                            letter-spacing: 2px;
                            overflow: hidden;
                            text-transform: uppercase;
                            font-weight: 600;
                            display: inline-block;
                            text-align: center;
                            position: relative;
                            z-index: 1;
                            padding: 2.05rem 1.4rem;
                        }

                            #contact_info .btn-primary:before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                transition: all .5s;
                                opacity: 1;
                                transform: translate(-100%);
                                border-right-width: 1px;
                                border-right-style: solid;
                                background-color: #333;
                                opacity: .2;
                            }

                        #contact_info .form-control {
                            border-color: transparent;
                            border-bottom-color: #cecece;
                            border-radius: 0;
                            padding-left: 0;
                            padding-right: 0
                        }

                            #contact_info .form-control, #contact_info .form-control:focus {
                                -ms-box-shadow: none;
                                box-shadow: none
                            }

                                #contact_info .form-control:focus {
                                    border-color: transparent;
                                    border-bottom-color: #24abe0
                                }

                        #contact_info .contact-select {
                            flex-direction: unset;
                        }

                        #contact_info .form-control {
                            display: block;
                            font-size: 14px;
                            line-height: 1.428571429;
                            color: #555
                        }

                        #contact_info .form-control {
                            width: 100%;
                            height: 34px;
                            padding: 6px 12px;
                            background-color: #fff;
                            background-image: none;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
                        }

                            #contact_info .form-control:focus {
                                border-color: #66afe9;
                                outline: 0;
                            }

                            #contact_info .form-control::-moz-placeholder {
                                color: #999;
                                opacity: 1
                            }

                            #contact_info .form-control:-ms-input-placeholder {
                                color: #999
                            }

                            #contact_info .form-control::-webkit-input-placeholder {
                                color: #999
                            }

                        #contact_info .contact-form textarea.form-control {
                            height: auto;
                            background: #FFF;
                        }

                        #contact_info .form-control {
                            border-color: transparent;
                            border-bottom-color: #cecece;
                            border-radius: 0;
                            padding-left: 0;
                            padding-right: 0
                        }

                        #contact_info .form-control, .form-control:focus {
                            -ms-box-shadow: none;
                            box-shadow: none
                        }

                            #contact_info .form-control:focus {
                                border-color: transparent;
                                border-bottom-color: #24abe0
                            }

                        #contact_info .row {
                            margin-left: -15px;
                            margin-right: -15px
                        }

                            #contact_info .row:after, .row:before {
                                content: " ";
                                display: table
                            }

                            #contact_info .row:after {
                                clear: both
                            }

                        #contact_info .col-sm-6, #contact_info .col-sm-12 {
                            position: relative;
                            min-height: 1px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }



                        /*add style of support page*/
                        #contact_info .contact-form {
                            border-radius: 0;
                            padding: 0;
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            background-color: transparent;
                        }

                        #contact_info .contact {
                            padding: 0;
                            background-image: none;
                        }

                            #contact_info .contact .form-control {
                                background-color: transparent;
                            }

                        #contact_info .section-form {
                            margin-bottom: 70px;
                        }

                        #contact_info .bg-pink {
                            background-color: #B60081;
                        }

                        #contact_info .bg-grey {
                            background-color: #f8f8f8;
                            font-style: italic;
                            padding: 20px;
                        }

                        #contact_info .text-white {
                            color: white;
                        }

                        #contact_info .text-small {
                            color: #fcba52;
                            font-weight: 600;
                        }

                        #contact_info .contact-form .form-control {
                            position: relative;
                            font-style: italic;
                            background-color: transparent;
                            padding-left: 30px;
                        }

                        #contact_info .pad-15 {
                            padding: 15px;
                        }

                        #contact_info .contact-select {
                            width: 100%;
                            border-radius: 18px;
                            -webkit-appearance: none;
                        }

                        #contact_info .sel-after {
                            position: relative;
                        }

                            #contact_info .sel-after::after {
                                content: '';
                                right: 15px;
                                top: 10px;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                cursor: pointer;
                                border-left: 1px solid #808080;
                                border-bottom: 1px solid #808080;
                                transform: rotate(-45deg);
                                box-sizing: border-box;
                            }

                        #contact_info .mt-20 {
                            margin-top: 20px;
                        }

                        #contact_info .mt-8 {
                            margin-top: 8px;
                        }

                        #contact_info .text--right {
                            text-align: right;
                        }

                        #contact_info .btn-w {
                            width: 170px;
                        }

                        #contact_info .contact {
                            margin: 20px 0 0 10px;
                        }

                        #contact_info h2.contact-share {
                            position: relative;
                            font-weight: bold;
                        }

                            #contact_info h2.contact-share::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: -32px;
                                height: 100%;
                                width: 32px;
                                background: #B60081;
                                -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
                                clip-path: polygon(100% 50%, 0 0, 0 100%);
                            }

                        #contact_info .pos-relative {
                            position: relative;
                        }

                            #contact_info .pos-relative input {
                                font-size: 16px;
                                color: #fff;
                            }

                        #contact_info .icon-form {
                            position: absolute;
                            top: 50%;
                            left: 3px;
                            color: white;
                            transform: translate(0,-50%);
                        }

                            #contact_info .icon-form i {
                                font-size: 20px;
                            }

                        #contact_info .font-size20 {
                            font-size: 20px;
                            font-style: italic;
                            opacity: 0.5;
                        }

                        #contact_info .select-size {
                            font-size: 16px;
                        }

                        #contact_info .page-contact .success-message {
                            padding-bottom: 0;
                            font-weight: 600;
                            color: #b41f8e;
                        }

                        #contact_info textarea {
                            font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
                        }
                    </style>
                    <script type='text/javascript' src='//www.google.com/recaptcha/api.js?hl=vi&#038;ver=5.8.2' id='recaptcha-api-js'></script>
                    <div class="contact-bg contact-form" id="contact_form">
                        <form class="checking--form" action="https://www.aeon.com.vn/" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2 class="text-uppercase text-white bg-pink pad-15 contact-share">Chia sẻ cùng chúng tôi</h2>
                                    <div class="contact-form pad-15 bg-pink">
                                        <p class="text-white">Quý khách vui lòng nhập đầy đủ thông tin cần thiết. Chúng tôi sẽ liên hệ sớm nhất.</p>
                                        <div class="contact-pad">
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="contact_name" placeholder="Vui lòng nhập tên..." value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="contact_phone" placeholder="+84 123 456 789" value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="contact_email" placeholder="Yourmail@gmail.com" value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="mt-20 sel-after">
                                                <select class="contact-select btn btn-rounded select-size" name="contact_mall">
                                                    <option value="" selected hidden disabled="disabled">Vui lòng chọn TTBHTH Aeon</option>
                                                    <option value="tpc">AEON Tân Phú Celadon                                    </option>
                                                    <option value="bdc">AEON Bình Dương Canary                                    </option>
                                                    <option value="lb">AEON Long Biên                                    </option>
                                                    <option value="bt">AEON Bình Tân                                    </option>
                                                    <option value="hd">AEON Hà Đông                                    </option>
                                                    <option value="hp">AEON Lê Chân Hải Phòng                                    </option>
                                                    <option value="t9">AEON The Nine                                    </option>
                                                    <option value="BD">AEON Bình Dương New City                                    </option>
                                                    <option value="AEONMaxValu">AEON MaxValu                                    </option>
                                                    <option value="AEONGlamBeautique">AEON Glam Beautique                                    </option>
                                                    <option value="AEONWellness">AEON Wellness                                    </option>
                                                    <option value="AEONDaiso">AEON Daiso                                    </option>
                                                    <option value="AEONPet">AEON Pet                                    </option>
                                                    <option value="AEONBicycle">AEON Bicycle                                    </option>
                                                    <option value="EC">Trang thương mại điện tử Aeon Eshop                                    </option>
                                                </select>
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="mt-20 sel-after">
                                                <select class="contact-select form-contact btn btn-rounded select-size" name="contact_reason">
                                                    <option value="" selected hidden disabled="disabled">Vui lòng chọn lý do liên hệ</option>
                                                    <option value="ykdg">Ý kiến đóng góp                                    </option>
                                                    <option value="kn">Khiếu nại                                    </option>
                                                    <option value="tvtt">Tư vấn thông tin                                    </option>
                                                </select>
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="contact">
                                        <div class="title">
                                            <input class="form-control font-size20" name="contact_subject" placeholder="Tiêu đề..." value="">
                                        </div>
                                        <div class="error-form">
                                            <small class="text-small">&nbsp;</small>
                                        </div>
                                        <div class="mt-8">
                                            <textarea class="form-control bg-grey" name="contact_content" rows="10" placeholder="Vui lòng nhập ý kiến..."></textarea>
                                        </div>
                                        <div class="error-form">
                                            <small class="text-small">&nbsp;</small>
                                        </div>
                                        <div class="g-recaptcha mt-8" data-sitekey="6Lf4dJ8UAAAAAFduaGyB4OG151QjjrkfBzs26ibi"></div>
                                        <div class="error-form">
                                            <small class="text-small">&nbsp;</small>
                                        </div>
                                        <div class="text--right mt-8">
                                            <button id="submit_btn" class="btn btn-primary btn-w">GỬI</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
        <div class="sticky-sp sp-appear">
            <div class="sticky-row">
                <a class="sticky-col" href="/ung-dung-di-dong-aeon-vietnam/">
                    <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/sticky-app-sp.png" alt="" />
                </a>
                <a class="sticky-col" href="https://aeoneshop.com/">
                    <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/sticky-shop-sp.png" alt="" />
                </a>
            </div>
        </div>
    </main>
    <style type="text/css">
        .popup-app {
            position: absolute;
            content: "";
            top: 33px;
            right: 105px;
            width: 402px;
            height: 86%;
            font-size: 16px;
            max-width: 340px;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            filter: drop-shadow(0px 0px 10px #edbbd2)
        }

        .pupup-app__inner {
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        .pa-item:not(:last-child) {
            padding-right: 20px
        }

        .pa-link:not(:last-child) {
            margin-bottom: 10px
        }

        .pa-link {
            text-align: center;
            padding: 10px 45px;
            border-radius: 50px;
            background-color: #b2278d
        }

            .pa-link a {
                color: #fff
            }

        .pa-close {
            position: absolute;
            top: -25px;
            right: 0;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer
        }

        .event {
            text-align: right;
            padding-right: 8rem;
            margin-top: 20px;
        }
    </style>
    <script>
        jQuery(document).ready(function ($) {
            $('.btn-app').on('click', function () {
                $('.popup-app').fadeToggle("slow");
            });
        });
        jQuery(document).ready(function ($) {
            $('.pa-close').on('click', () => {
                $('.popup-app').hide();
            }
            );
        });
    </script>
    <div class="container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.2928541380025!2d-71.12082909999999!3d42.374440699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377427d7f0199%3A0x5937c65cee2427f0!2zUXXhuqNuIFZp4buHdCBIYXJ2YWQ!5e0!3m2!1svi!2sca!4v1634150494998!5m2!1svi!2sca" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>
    <footer class="footer">
        <div class="container">

            <div class="footer-inner">
                <div class="footer-row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            <h3>Contact Info</h3>
                        </div>
                        <div class="footer-txt">
                            <a class="social-item" href="#" title="Address" target="_blank">
                                <img src="~/Images/location.png" alt="" width="25" height="25" style="border-radius: 2px; margin: 10px">
                            </a>123 Sky Tower HocMon, Los Algeles
                        </div>
                        <div class="footer-txt">
                            <a class="social-item" href="#" title="Phone" target="_blank">
                                <img src="~/Images/telephone1.png" alt="" width="25" height="25" style="border-radius: 2px; margin: 10px">
                            </a>PHONE : (012) 345 6789
                        </div>
                        <div class="footer-txt">
                            <a class="social-item" href="#" title="Email" target="_blank">
                                <img src="~/Images/email1.png" alt="" width="25" height="25" style="border-radius:2px;margin: 10px">
                            </a>EMAIL: vvquanq@uxdesign.com
                        </div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-logo">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
                        <div class="footer-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-logo">
                            <h3>FAQS</h3>
                        </div>
                        <div class="footer-social">
                            <div class="footer-txt" style="margin:10px">> Contact us</div>
                            <div class="footer-txt" style="margin:10px">> Returns</div>
                            <div class="footer-txt" style="margin:10px">> Site Map</div>
                            <div class="footer-txt" style="margin:10px">> Brands</div>
                            <div class="footer-txt" style="margin:10px">> Gift Vouchers</div>
                        </div>           
                    </div>
                    <div class="footer-col">
                        <div class="footer-logo">
                            <h3>Oder Tracking</h3>
                        </div>
                        <div class="footer-social">
                            <div class="footer-txt" style="margin:10px">> About us</div>
                            <div class="footer-txt" style="margin:10px">> Returns</div>
                            <div class="footer-txt" style="margin:10px">> Contact us</div>
                            <div class="footer-txt" style="margin:10px">> Term & Condition</div>
                            <div class="footer-txt" style="margin:10px">> Privacy Policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" integrity="sha384-3gT/vsepWkfz/ff7PpWNUeMzeWoH3cDhm/A8jM7ouoAK0/fP/9bcHHR5kHq2nf+e" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha384-OOQxAlvDeToeGLa7+PiUtbtpQyESK8Ej4fNM8foz5VaMpO8TCp1vbi2HIOIzMurt" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js" integrity="sha384-XfAd/+mEhljko1w/xpMz8Bus1OcLvGuqKoBOtSMzOaY5flEEQOR9KMTpzuFdT6e2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify-mobile.min.js" integrity="sha384-1Dq9Nm8goDHHiNU8/Q0Oaon/BcM2io2pgYjv5kq7ldIvI05euiYCNmTPFvC0TN8Z" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/js/app.min.js?ver=20201027"></script>
    <script type="text/javascript">
        $(function () {
            $('.promotion-from-aeon').slick({
                dots: true,
                arrows: false,
                "autoplay": true,
                "autoplaySpeed": 5000,
            });
        });
    </script>
    <script>
        var vw = $(window).width()
        var menuOpen = false
        var winPos = 0;
        let $el = $('[data-toggles="collapse"]')
        $('.btn-menu__icon').on('click tap', function () {
            $(this).find('.line').removeClass('disableAnimation');
            $(this).toggleClass('active');
            $('html').toggleClass('menu-open');
            if (menuOpen) {
                $('.submenu-header').removeClass('open')
            }
            menuOpen = !menuOpen
        });

        function openSubmenu() {
            var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            if (!isMobile) {
                $('.has-sub-menu').hover(function () {
                    $(this).addClass('hover')
                }, function () {
                    $(this).removeClass('hover')
                })
            }
            $el.on('click', function (e) {
                e.preventDefault()
                if (vw < 1200) {
                    var target = $(this).attr('href')
                    $(this).toggleClass('expanded')
                    $(target).toggleClass('open')
                    $(target).find('.sub-menu').removeClass('open')
                    $(target).find('.icon-down-arrow').removeClass('expanded')
                }
            });
        }

        function menuScroll() {
            winPos >= 57 ? $('html').addClass('menu-fixed') : $('html').removeClass('menu-fixed')
        }

        $(window).on('scroll', function () {
            winPos = window.pageYOffset
            menuScroll()
        })

        openSubmenu();
    </script>
    <link rel='stylesheet' id='font-awesome-css' href='https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css?ver=5.8.2' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = {
            "api": {
                "root": "https:\/\/www.aeon.com.vn\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            }
        };
                                /* ]]> */
    </script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.3' id='contact-form-7-js'></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
