@using WebDienThoaiDiDong.Models
@model IEnumerable<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-tag">
    <span><img src="~/Images/bg6.png" style="width:1200px; height:300px;"/></span>
</div>
<div class="" style="margin-top:8px;">
    <div class="dzbfhz">
        @foreach (var item in Model)
        {<div class="eNMLhH">
    <a href="@Url.Action("Details","SanPham",new {id = item.MaSP})" class="hbfbVb">
        <div class="ksUrsk">
            <div class="dAzOrK">
                <div class="bsEaOG">
                    <img alt="" src="~/Images/@item.HinhMinhHoa" width="60%" height="200px" class="FeaturedPropertyCard__Image">
                </div>

            </div>
            <div class="dAzOrK">
                <span class="PhACE">@item.TenSP</span>
            </div>
            <div class="dAzOrK">
                <div class="ksUrsk">
                    <div class="bqFAqd">
                        <span><i class="ficon">@item.XepHangSao ⭐ </i></span>
                    </div>
                    <div class="bqFAqd">
                        <img src="~/Images/dungluong.png" alt="" width="14" height="14" style="border-radius: 2px; margin: 4px">
                    </div>
                    <div class="bqFAqd">
                        <span class="gkdqhz"><i>@item.DungLuong</i></span>
                    </div>
                </div>
            </div>
            <div class="dAzOrK">
                <span class="cUindZ">Giá chỉ từ</span>
            </div>
            <div class="dAzOrK">
                <div class="ksUrsk">
                    <div class="bqFAqd">
                        <span class="frzEdX">
                            $
                        </span>
                    </div>
                    <div class="bqFAqd">
                        <span class="frzEdX" style="font-weight: bold ; text-transform: uppercase ">
                            @string.Format("{0:0.00}", @item.DonGia)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
            
        }
    </div>
</div>
